node_modules/
dist/
.DS_Store
*.db
*.log
.env
.vite/
*.mjs
*.cjs
package-lock.json
client/node_modules/
client/dist/
!README.md
!client/package.json
!package.json
!src/
!client/src/
!public/
!client/index.html
!client/vite.config.js
